!!! 5
%html.no-js
  %head
    %meta{charset: 'utf-8'}
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{content: 'ie=edge,chrome=1', 'http-equiv': 'x-ua-compatible'}
    %title= page_title(current_page.data.title)
    %meta{name: 'description', content: 'Personal website of Stephen Caudill'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %link{rel: 'alternate', type: 'application/atom+xml', title: 'Atom 1.0', href: '//stephencaudill.com/blog/feed.xml'}
    %link{href: '//fonts.googleapis.com/css?family=Gentium+Book+Basic:400italic,700,400|Open+Sans:700', rel: 'stylesheet', type: 'text/css'}
    %link{rel: 'apple-touch-icon', sizes: '180x180', href: '/apple-touch-icon.png'}
    %link{rel: 'icon', type: 'image/png', sizes: '32x32', href: '/favicon-32x32.png'}
    %link{rel: 'icon', type: 'image/png', sizes: '16x16', href: '/favicon-16x16.png'}
    %link{rel: 'manifest', href: '/site.webmanifest'}
    %link{rel: 'mask-icon', href: '/safari-pinned-tab.svg', color: '#058ed9'}
    %meta{name: 'msapplication-TileColor', content: '#058ed9'}
    %meta{name: 'theme-color', content: '#ffffff'}
    = stylesheet_link_tag "main"
    %script{async: 'async', src: 'https://www.googletagmanager.com/gtag/js?id=UA-62451721-1'}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-62451721-1');

  %body{class: page_classes}
    %header.main-header
      %div.wrap
        %h1.logo
          %a{href: "/"}
            %span.lambda
            Stephen Caudill

        %nav.main-nav
          %ul
            %li
              %a{href: "/"} Home
            %li
              %a{href: "/blog"} Blog
            %li
              %a{href: "/about.html"} About

    = yield

%section.communication-gray
  %div.wrap
    %aside.content-aside
      %h2 Communication

    %section.email
      %h3 Email
      %a{href: "mailto:hello@stephencaudill.com"}hello@stephencaudill.com

    %section.elsewhere
      %h3 Elsewhere
      %ul
        %li
          %a{href: "https://www.github.com/mrmemes-eth"}Github
        %li
          %a{href: "https://twitter.com/mrmemes_eth"}Twitter
        %li
          %a{href: "https://www.linkedin.com/in/stephen-caudill"}Linkedin
