---
title: Blog Category
---

%section.blog
  %div.wrap
    %article.post
      %aside.post-aside
        %h2 Posts about: #{h tagname}

    - page_articles.each do |article|
      %section.post-content
        %ul
          - page_articles.each do |article|
            %li
              = link_to article.title, article
              %time= article.date.strftime('%b %e')
