%section.about
  %div.wrap
    %aside.content-aside
      %h2 About Me

    %section.about-content
      %h3 Story time!
      %div.about-content-columns
        %p
          I came to programming (rather circuitously), via digital music
          production, circa 1998. I had a group of friends who made music
          together and had all slowly drifted away from the college town where
          we met. In order to keep working on music together, we had gotten into
          the habit of recording parts for tracks and sending zip drives and
          data CDs back and forth in the mail (email at the time maxed out at
          about 1.5 MB, so that wasn't an option). While I still didn't have my
          flying car or the jet pack promised to me by the last couple of
          decades of television, I thought we could probably do slightly better
          than snail mail.

        %p
          A couple of hours of searching online turned up forum posts talking
          about using Perl to upload files to a web server... a later post
          elaborated and said that any computer with an internet connection
          could become a web server. Wheels thus set in motion, I came out
          the other side of a 3-day fugue with a terrifying Perl script cobbled
          together that let my friends post their files directly to my computer
          from a form I hosted at my (dynamic) IP address. I'll let you imagine
          the many ways in which that didn't go quite as I had hoped.

        %p
          What did go right in ways I couldn't then have imagined was that I was
          tossed, feet first, into the deep end of a fascinating and emerging
          world of interconnected technology. Like so many other nerds, I had
          become ensnared in a life long pursuit of technical mastery.

        %p
          In the intervening couple of decades, I've had the concentrated time
          and good fortune to learn a host of programming languages, techniques,
          business domains, and development methodologies. I've also been
          fortunate enough to work with some of the best and brightest in a
          variety of disciplines.

        %p
          I can honestly state that I have attained a high level of technical
          expertise in a variety of areas&hellip; but my empathy and mild
          dyslexia (hooray for&nbsp;
          %a{:href => "https://www.neurodiversityhub.org/what-is-neurodiversity"}> neurodiversity
          ) rank first among my strengths. Experience has taught me that
          embracing our differences and having the wisdom and patience to meet
          people where they are is the best approach to accomplishing great
          things.  But enough about me.
          %a{:href => "mailto:hello@stephencaudil.com"} Tell me about yourself!